---
import Layout from "../layouts/Layout.astro"
import UserCard from "../components/UserCard.svelte";
---

<Layout title="Welcome to Astro.">
    <main>
        <h1>Welcome to <span>Astro 💙</span></h1>
        <UserCard client:load />
    </main>
</Layout>

<style>
    main {
        margin: auto;
    }
</style>
