---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;

import CSS from "./Card.module.scss"
---

<li class="link-card">
	<a href={href}>
		<h5>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
	<div class={CSS.code}>Foo</div>
</li>
<style>
	
</style>
